<!-- templates/table.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuck HAC</title>

    <!-- Add DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Add DataTables JavaScript -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var dataTable = $('#example').DataTable({
                autoWidth: true
            });

            // Add event listener to the dropdown
            $('#studentSelect').on('change', getTableData)
            $('#periodSelect').on('change', getTableData)
            function  getTableData () {
                // Get the selected dataset
                var selectedPeriod = $('#periodSelect').val();
                var selectedstudent = $('#studentSelect').val();

                // Clear existing table data
                dataTable.clear();

                // Call the API to get the new dataset
                $.post(`/api/grading_period/${selectedPeriod}/${selectedstudent}`, function (data) {
                    // Add the new dataset to the table
                    data.forEach(function (row) {
                        dataTable.row.add(row);
                    });

                    // Redraw the table
                    dataTable.draw();
                });
            };
            getTableData()
        });
    </script>
</head>

<body>
    <label for="studentSelect">Select Student:</label>
    <select id="studentSelect">
        {% for student, _ in student_list.items() %}
            <option value="{{ student }}">{{ student }}</option>
        {% endfor %}
    </select>
    <button name="Clear Cache" onclick="fetch('/api/clear_cache', {method:'POST'})">Clear Cache</button>
    <label for="periodSelect">Select Grading Period:</label>
    <select id="periodSelect">
        {% for i in ["",1,2,3,4] %}
            {% if grading_period == i %}
                <option value="{{ i }}" selected>{{ i }}</option>
            {% else %}
                <option value="{{ i }}">{{ i }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <br>
    <br>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>

</html>